.nav {
	display: flex;
	justify-content: space-between;
}

.nav__list {
	display: flex;
}

.nav__item {
	list-style: none;
	padding: 0 20px;
}

.nav__link {
	text-decoration: none;
	font-size: 16px;
	color: var(--black-color);
	text-transform: uppercase;
	font-weight: 500;
}
@media (max-width: 991px) {
	.nav {
		display: none;
	}
}
