.why-choose {
	position: relative;
	padding-top: 20px;
}
.why-choose__bg {
	background-image: url('/assets/img/whychoose.jpg');
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-position: center;
	top: 0;
	left: 0;
	z-index: -2;
}
.why-choose__item {
	padding: 70px 30px;
	background-color: #ffffff;
	box-shadow: 0px 0px 11px 1px #eaeaea;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.why-choose__icon {
	margin-bottom: 38px;
}
.why-choose__title {
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: bold;
	color: var(--primary-color);
	text-transform: uppercase;
}
.why-choose__desc {
	color: var(--black-color);
	font-size: 18px;
	text-align: center;
}

@media (min-width: 500px) and (max-width: 768px) {
	.why-choose__item {
		padding: 15px 20px;
	}
}
