.section {
	padding: 60px 0;
}
.section-cl {
	background-color: #f3f3f3;
}

.section-cl2 {
	background-color: #f6f6f6;
}
.section-bg {
	background-image: url('/assets/img/bgfeedback.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
